In [25]:
import pandas as pd
import numpy as np
from dataset_handling import book_train_test_split

In [2]:
s = pd.Series([str(x % 8) for x in range(100)])

In [19]:
s.unique()

array(['0', '1', '2', '3', '4', '5', '6', '7'], dtype=object)

In [23]:
df = pd.read_parquet("data/primary_authors/dataset.parquet")

In [27]:
df2 = book_train_test_split(df)['is_train']
df2

/media/volume/team11data/524Project-Group11/proj2/dataset_handling.py:67: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  count_df = df.groupby(['author_id', 'book_id']).count().reset_index()
/media/volume/team11data/524Project-Group11/proj2/dataset_handling.py:65: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  sub_df = pd.concat([sub_df, book_row])

0         True
1         True
2         True
3         True
4         True
         ...
19004    False
19005    False
19006    False
19007    False
19008    False
Name: is_train, Length: 19009, dtype: bool

In [50]:
tbl = pd.read_parquet("data/primary_authors/dataset.parquet")

In [51]:
tbl

       book_id                                               text author_id
0            0  illustration had she taken sides with either o...     10294
1            0  plan and when i do a thing myself i am only go...     10294
2            0  avenue de ceinture and lupin and his two compa...     10294
3            0  of it but what there is is pucka nothing the m...     10294
4            0  to the house urged by a feeling of anxiety whi...     10294
...        ...                                                ...       ...
19004       83  the last named to take over his flat the lette...      5036
19005       83  explained that he adopted the title of dentist...      5036
19006       83  sentenced to seven penal servitude on the evid...      5036
19007       83  own behalf he was advised by his counsel not t...      5036
19008       83  nine hundred and nine notes obvious typographi...      5036

[19009 rows x 3 columns]

In [48]:
ls = np.array([[x, x, x] for x in range(50)])
ls.reshape((ls.shape[0], 1, ls.shape[1]))

array([[[ 0,  0,  0]],

       [[ 1,  1,  1]],

       [[ 2,  2,  2]],

       [[ 3,  3,  3]],

       [[ 4,  4,  4]],

       [[ 5,  5,  5]],

       [[ 6,  6,  6]],

       [[ 7,  7,  7]],

       [[ 8,  8,  8]],

       [[ 9,  9,  9]],

       [[10, 10, 10]],

       [[11, 11, 11]],

       [[12, 12, 12]],

       [[13, 13, 13]],

       [[14, 14, 14]],

       [[15, 15, 15]],

       [[16, 16, 16]],

       [[17, 17, 17]],

       [[18, 18, 18]],

       [[19, 19, 19]],

       [[20, 20, 20]],

       [[21, 21, 21]],

       [[22, 22, 22]],

       [[23, 23, 23]],

       [[24, 24, 24]],

       [[25, 25, 25]],

       [[26, 26, 26]],

       [[27, 27, 27]],

       [[28, 28, 28]],

       [[29, 29, 29]],

       [[30, 30, 30]],

       [[31, 31, 31]],

       [[32, 32, 32]],

       [[33, 33, 33]],

       [[34, 34, 34]],

       [[35, 35, 35]],

       [[36, 36, 36]],

       [[37, 37, 37]],

       [[38, 38, 38]],

       [[39, 39, 39]],

       [[40, 40, 40]],

       [[41, 41, 41]],

       [[42, 42, 42]],

       [[43, 43, 43]],

       [[44, 44, 44]],

       [[45, 45, 45]],

       [[46, 46, 46]],

       [[47, 47, 47]],

       [[48, 48, 48]],

       [[49, 49, 49]]])

In [33]:
tbl2[df2]

       book_id                                       final_vector author_id
0            5  {'type': 1, 'size': None, 'indices': None, 'va...     10294
1            0  {'type': 1, 'size': None, 'indices': None, 'va...     10294
2            6  {'type': 1, 'size': None, 'indices': None, 'va...     10294
3           16  {'type': 1, 'size': None, 'indices': None, 'va...     10294
4            8  {'type': 1, 'size': None, 'indices': None, 'va...     10294
...        ...                                                ...       ...
18499        0  {'type': 1, 'size': None, 'indices': None, 'va...      5036
18500       33  {'type': 1, 'size': None, 'indices': None, 'va...      5036
18501       47  {'type': 1, 'size': None, 'indices': None, 'va...      5036
18502       79  {'type': 1, 'size': None, 'indices': None, 'va...      5036
18503       25  {'type': 1, 'size': None, 'indices': None, 'va...      5036

[3790 rows x 3 columns]